@charset "UTF-8";
html,
body {
  background-color: #fff;
  min-width: 100%;
  overflow-x: hidden;
}

p {
  margin: 0;
}

.tran-3s {
  transition: all 0.3s ease-in-out;
}

.el-message .el-icon-success {
  font-size: px(18);
}

.van-tabs--line .van-tabs__wrap {
  height: px(86);
  border-bottom: 1px solid #ebedf0;
}

.van-hairline--top-bottom::after,
.van-hairline-unset--top-bottom::after {
  border-width: 0 !important;
}

.van-tabs__line {
  height: px(2);
}

.layout_content_box .page_top_box {
  position: relative;
}

.layout_content_box .page_top_box img {
  display: block;
  width: 100%;
}

.layout_content_box .page_top_box ._title {
  position: absolute;
  top: 50%;
  left: px(48);
  font-size: px(40);
  color: white;
  letter-spacing: px(4);
  font-weight: bold;
  transform: translateY(-50%);
}

.layout_content_box .page_bottom_box {
  padding-bottom: px(56);
}

.layout_content_box .page_bottom_box .tab_box .van-tabs .van-tab {
  font-size: px(26);
  height: px(86);
  line-height: px(86);
  color: #7f7f7f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.layout_content_box .page_bottom_box .tab_box .van-tabs .van-tab.van-tab--active {
  color: #599ae5;
  font-weight: bold;
}

.layout_content_box .page_bottom_box .tab_box .van-tabs .van-tabs__line {
  background: #599ae5;
}

.layout_content_box .page_bottom_box .tab_box .part .part_top_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: px(119);
  padding-bottom: px(40);
}

.layout_content_box .page_bottom_box .tab_box .part .part_top_box ._top {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: px(126);
}

.layout_content_box .page_bottom_box .tab_box .part .part_top_box ._top ._title {
  height: px(60);
  font-size: px(60);
  color: #666666;
  line-height: px(60);
  letter-spacing: px(3);
  font-weight: bold;
  display: inline-block;
}

.layout_content_box .page_bottom_box .tab_box .part .part_top_box ._top ._entitle {
  position: absolute;
  top: px(-50);
  left: 50%;
  transform: translateX(-50%);
  height: px(82);
  font-size: px(82);
  font-family: HelveticaNeue-Bold, HelveticaNeue;
  font-weight: bold;
  color: #f7f7f7;
  line-height: px(82);
  letter-spacing: px(5);
  z-index: -1;
}

.layout_content_box .page_bottom_box .tab_box .part .part_top_box ._top ._info {
  position: absolute;
  bottom: px(-34);
  left: 50%;
  transform: translateX(-50%);
  font-size: px(22);
  height: px(22);
  line-height: px(22);
  color: #888;
  text-align: center;
  display: inline-block;
  font-weight: normal;
}

.layout_content_box .page_bottom_box .tab_box .part .part_top_box ._top ._line {
  width: px(60);
  height: 1px;
  position: absolute;
  bottom: px(-75);
  left: 50%;
  transform: translateX(-50%);
  background-color: #999;
}

.layout_content_box .page_bottom_box .tab_box .part .part_top_box ._bottom {
  width: px(654);
  text-align: center;
  font-size: px(28);
  line-height: px(48);
  color: #6e6e6e;
  letter-spacing: px(1);
}

.layout_content_box .page_bottom_box .tab_box .part .part_bottom_box {
  width: 100%;
  box-sizing: border-box;
  padding: 0 px(48);
}

.layout_content_box .page_bottom_box .tab_box .part .part_bottom_box .pagination_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout_content_box .page_bottom_box .tab_box .part .part_bottom_box .pagination_box .btn-prev {
  width: px(160);
}

.layout_content_box .page_bottom_box .tab_box .part .part_bottom_box .pagination_box .btn-prev .el-icon::before {
  content: "上一页";
}

.layout_content_box .page_bottom_box .tab_box .part .part_bottom_box .pagination_box .btn-next {
  width: px(160);
}

.layout_content_box .page_bottom_box .tab_box .part .part_bottom_box .pagination_box .btn-next .el-icon::before {
  content: "下一页";
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  margin: 0 px(16);
  background-color: transparent;
  color: #888888;
  min-width: auto;
  border-radius: 0px;
  border: 1px solid #d8d8d8;
  width: px(48);
  height: px(48);
  line-height: px(48);
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #599ae5;
  border-color: #599ae5;
}

.amap-copyright,
.amap-logo {
  display: none !important;
}

.el-input__inner,
.el-textarea__inner {
  background-color: transparent;
  height: px(40);
  line-height: px(40);
  border-radius: 0;
  font-size: px(16);
  border: 0.5px solid #fff;
  padding: 0 px(12);
  color: #fff;
  outline: none;
}

.el-input__inner:active, .el-input__inner:focus,
.el-textarea__inner:active,
.el-textarea__inner:focus {
  border-color: #fff;
}

.el-input__inner::-webkit-input-placeholder,
.el-textarea__inner::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.el-input__inner::-moz-placeholder,
.el-textarea__inner::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.el-input__inner:-ms-input-placeholder,
.el-textarea__inner:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.el-input__inner:-moz-placeholder,
.el-textarea__inner:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
