html,
body {
  background-color: #fff;
  min-width: 100%;
  overflow-x: hidden;
}
p {
  margin: 0;
}
.tran-3s {
  transition: all 0.3s ease-in-out;
}
.el-message .el-icon-success {
  font-size: px(18);
}
.van-tabs--line .van-tabs__wrap {
  height: px(73);
  border-bottom: 1px solid #ebedf0;
}
.van-hairline--top-bottom::after,
.van-hairline-unset--top-bottom::after {
  border-width: 0 !important;
}
.van-tabs__line {
  height: px(2);
}
.layout_content_box {
  .page_top_box {
    position: relative;
    img {
      display: block;
      width: 100%;
    }
    ._title {
      position: absolute;
      top: 50%;
      left: px(48);
      font-size: px(40);
      color: rgba(255, 255, 255, 1);
      letter-spacing: px(4);
      font-weight: bold;
      transform: translateY(-50%);
    }
  }
  .page_bottom_box {
    padding-bottom: px(56);
    .tab_box {
      .van-tabs {
        .van-tab {
          font-size: px(18);
          height: px(73);
          line-height: px(73);
          color: #7f7f7f;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &.van-tab--active {
            color: #599ae5;
            font-weight: bold;
          }
        }
        .van-tabs__content {
        }
        .van-tabs__line {
          background: #599ae5;
        }
      }
      .part {
        .part_top_box {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: px(99);
          padding-bottom: px(48);
          ._top {
            position: relative;
            width: 100%;
            text-align: center;
            margin-bottom: px(76);
            ._title {
              height: px(48);
              font-size: px(48);
              color: #666666;
              line-height: px(48);
              letter-spacing: px(3);
              font-weight: bold;
            }
            ._entitle {
              position: absolute;
              top: px(-40);
              left: 50%;
              transform: translateX(-50%);
              height: px(72);
              font-size: px(72);
              font-family: HelveticaNeue-Bold, HelveticaNeue;
              font-weight: bold;
              color: #f7f7f7;
              line-height: px(72);
              letter-spacing: px(5);
              z-index: -1;
            }
            ._info {
              position: absolute;
              bottom: px(-30);
              left: 50%;
              transform: translateX(-50%);
              font-size: px(18);
              color: #888;
              line-height: px(15);
              text-align: center;
              width: 100%;
            }
            ._line {
              width: px(60);
              height: 1px;
              position: absolute;
              bottom: px(-48);
              left: 50%;
              transform: translateX(-50%);
              background-color: #999;
            }
          }
          ._bottom {
            width: px(560);
            text-align: center;
            font-size: px(14);
            line-height: px(28);
            color: #6e6e6e;
            letter-spacing: px(1);
          }
        }
        .part_bottom_box {
          width: 100%;
          box-sizing: border-box;
          padding: 0 px(48);
          .pagination_box {
            display: flex;
            flex-direction: column;
            align-items: center;
            .btn-prev {
              width: px(160);
              .el-icon::before {
                content: "上一页";
              }
            }
            .btn-next {
              width: px(160);
              .el-icon::before {
                content: "下一页";
              }
            }
          }
        }
      }
    }
  }
}

// .el-pagination {
//   padding: 0;
//   button,
//   .el-pager li {
//     height: px(48);
//     width: px(48);
//     line-height: px(48);
//     border-radius: 0 !important;
//     background-color: rgba(0, 0, 0, 0) !important;
//     border: 1px solid #d8d8d8;
//   }
//   .el-pager {
//     li {
//       &.active {
//         background-color: #599ae5 !important;
//         border-color: #599ae5;
//       }
//     }
//   }
// }
// .el-pagination.is-background .btn-next,
// .el-pagination.is-background .btn-prev,
// .el-pagination.is-background .el-pager li {
//   margin: 0 px(16);
//   min-width: auto;
// }

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  margin: 0 px(16);
  background-color: rgba(0, 0, 0, 0);
  color: #888888;
  min-width: auto;
  border-radius: 0px;
  border: 1px solid #d8d8d8;
  width: px(48);
  height: px(48);
  line-height: px(48);
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #599ae5;
  border-color: #599ae5;
}
.amap-copyright,
.amap-logo {
  display: none !important;
}
.el-input__inner,
.el-textarea__inner {
  background-color: rgba(0, 0, 0, 0);
  height: px(40);
  line-height: px(40);
  border-radius: 0;
  font-size: px(16);
  border: 0.5px solid #fff;
  padding: 0 px(12);
  color: #fff;
  outline: none;
  &:active,
  &:focus {
    border-color: #fff;
  }
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
  }
}
