html,
body {
  background-color: #fff;
  min-width: 100%;
}

.tran-3s {
  transition: all 0.3s ease-in-out;
}

.layout_content_box {
  .page_top_box {
    position: relative;
    img {
      display: block;
      width: 100%;
    }
    ._box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      ._title {
        text-align: center;
        height: px(88);
        font-size: px(64);

        color: rgba(255, 255, 255, 1);
        line-height: px(77);
        position: relative;
        margin-bottom: px(42);
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: px(120);
          height: 2px;
          background-color: #fff;
          bottom: px(-16);
          left: 50%;
          transform: translateX(-50%);
        }
      }
      ._into {
        max-width: px(600);
        text-align: center;
        font-size: px(16);

        color: rgba(255, 255, 255, 1);
        line-height: px(23);
      }
    }
  }
  .page_bottom_box {
    ._c {
      width: px(1280);
      margin: 0 auto;
    }
    .__part_title {
      .title {
        height: px(50);
        font-size: px(36);

        color: rgba(89, 154, 229, 1);
        line-height: px(43);
        margin-bottom: px(10);
      }
      .en_title {
        display: flex;
        align-items: center;
        img {
          display: block;
          width: px(23);
          height: px(11);
          margin-right: px(9);
          position: relative;
          top: px(-3);
        }
        span {
          display: block;
          font-size: px(16);

          color: #333;
          height: px(22);
          line-height: px(22);
        }
      }
    }
  }
  .layout_content_innerbox {
    ._c {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: px(223);
      .layout_content_title {
        height: px(80);
        font-size: px(80);

        color: #666666;
        line-height: px(80);
        font-weight: bold;
        position: relative;
        margin-bottom: px(18);
        z-index: 99;
        &::before {
          content: 'COMPANY';
          display: block;
          position: absolute;
          z-index: -1;
          left: 50%;
          transform: translateX(-50%);
          top: px(-103);
          color: #f7f7f7;
          height: px(144);
          font-size: px(120);
          font-family: HelveticaNeue-Bold, HelveticaNeue;
          font-weight: bolder;
          line-height: px(144);
        }
      }
      .layout_content_into {
        // height: px(30);
        font-size: px(30);
        color: #7f7f7f;
        line-height: px(30);
        letter-spacing: px(6);
        margin-bottom: px(82);
        position: relative;
        &::after {
          content: '';
          display: block;
          width: px(120);
          height: 2px;
          background-color: rgba(0, 0, 0, 0.4);
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: px(-40);
        }
      }
      .layout_content_intro {
        text-align: center;
        width: px(665);
        font-size: px(18);

        color: #7f7f7f;
        line-height: px(32);
        margin-bottom: px(120);
      }
    }
  }
}

// .el-pagination {
//   padding: 0;
//   button,
//   .el-pager li {
//     height: px(48);
//     width: px(48);
//     line-height: px(48);
//     border-radius: 0 !important;
//     background-color: rgba(0, 0, 0, 0) !important;
//     border: 1px solid #d8d8d8;
//   }
//   .el-pager {
//     li {
//       &.active {
//         background-color: #599ae5 !important;
//         border-color: #599ae5;
//       }
//     }
//   }
// }
// .el-pagination.is-background .btn-next,
// .el-pagination.is-background .btn-prev,
// .el-pagination.is-background .el-pager li {
//   margin: 0 px(16);
//   min-width: auto;
// }

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  margin: 0 px(16);
  background-color: rgba(0, 0, 0, 0);
  color: #888888;
  min-width: auto;
  border-radius: 0px;
  border: 1px solid #d8d8d8;
  width: px(48);
  height: px(48);
  line-height: px(48);
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #599ae5;
  border-color: #599ae5;
}
.amap-copyright,
.amap-logo {
  display: none !important;
}
.el-input__inner,
.el-textarea__inner {
  background-color: rgba(0, 0, 0, 0);
  height: px(40);
  line-height: px(40);
  border-radius: 0;
  font-size: px(16);
  border: 0.5px solid #fff;
  padding: 0 px(12);
  color: #fff;
  outline: none;
  &:active,
  &:focus {
    border-color: #fff;
  }
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
  }
}
